<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Server Side Pagination in angular
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20, 30]"
    showFirstLastButtons
    (page)="pageChanged($event)">
  </mat-paginator>
  <div *ngIf="loading;else table">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <ng-template #table>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>

      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'age']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'age'];"></tr>
    </table>
  </ng-template>
</div>